footer{
    background-color: black;
    color: white;
    text-align: center;
}
p{
    text-align: left;
    font-size: smaller;
}
header{
    background-color: black;
}
.menu{
    color: white;
    font-size: larger;
    font-weight: 200;
    text-transform: uppercase;
    
}
.footer{
    font-size: larger;
}

.slider-div{
    text-align: center;
    margin-top: 5px;
}
.slider{
    width: 700px;
}